[SddmGreeterTheme]
Name=Lain
Description=Inspired by fauux.neocities.org
Author=Andrés "mixedCase" Rodríguez, Gagandeep "lll2yu" Singh, Zhaoyang "Yangmoooo" Pan
Copyright=(c) 2016, Andrés Rodríguez, (c) 2019, Gagandeep Singh, (c) 2024, Zhaoyang Pan
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://gitlab.com/mixedCase/sddm-lain-wired-theme, https://github.com/lll2yu/sddm-lain-wired-theme, https://github.com/Yangmoooo/lain-sddm-theme
Screenshot=screenshot.png
MainScript=Main.qml
Theme-Id=lain
Theme-API=2.0
QtVersion=6
